* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    .btn_home {
        display: flex;
        height: 100vh;
        
        .img {
            width: 5rem;
            flex-grow: 1;
            object-fit: cover;
            opacity: .7;
            transition: .5s ease-in-out;
            
            &:hover {
                cursor: crosshair;
                width: 300px;
                opacity: 1;
                filter: contrast(120%);
            }
        }
        
        .btn {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 20vh;
            left: 0;
            bottom: 40%;
            text-decoration: none;
            z-index: 99;
            cursor: context-menu;
            background-color: rgba(20, 19, 19, 0.43);
            .btnText {
                font-size: 4rem;
                padding: 0 2rem;
                border-radius: 5rem;
                list-style: none;
                text-decoration: none;
                font-style: normal;
                outline: 2px solid orange;
                background: transparent;
                transition: .3s ease;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 2px 20px orange;
                }
            }
        }
    }
}