:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Theme Dark */
  /* --color-title: #F94C10;
  --color-icon: #F8DE22;
  --color-bg: #900C3F;
  --color-shadow: #C70039;
 /* Theme Light */
  /* --color-title: #1A120B;
  --color-icon: #D5CEA3;
  --color-bg: #E5E5CB;
  --color-shadow: #3C2A21; */
} 



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
